/* Selector para el modo oscuro */
#habilidades ol > li:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.1); 
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#habilidades h3::before {
    content: "/// "; 
    color: var(--primary);
    font-weight: 900;
    margin-right: 5px;
    letter-spacing: -2px; 
}

#habilidades ul ul {
    margin-left: 20px;
    padding-left: 15px;
}